<div>
    <div class="pull-right">
      <button class="btn btn-outline-primary btn-sm" (click)="logout()">Log Out</button>
    </div>
    <a href="" data-toggle="collapse" (click)="afficherSideBar()"><i class="fa fa-bars" aria-hidden="true"></i></a>
    <hr/>
    <nav class="navbar navbar-expand-sm bg-light">
       <i class="glyphicon glyphicon-search"></i>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </nav>
  </div>