<div class="row body">
    <div class="col-lg-2" *ngIf="showHideSideBar">
            <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-10">
            <app-navbar 
            [showSideBar] ="showHideSideBar"
            (showSideBarChange)="onShowSideBarChange($event)"></app-navbar>
            <app-content></app-content>
    </div>

</div>

